@import url('https://fonts.googleapis.com/css?family=Roboto:700');

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 100vmin;
  margin-top: 2vmin;

}

.animated-title>div {
  height: 33vmin;
  overflow: hidden;

  width: 100%;
}

.animated-title>div div {
  font-size: 12vmin;
  padding: 2vmin 0;

}

.animated-title>div div span {
  display: block;
  height: 14vmin;
  

}

.animated-title>div.text-top {
  border-bottom: 1vmin solid #000;
 
}

.animated-title>div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.animated-title>div.text-top div span:first-child {
  color: #767676;
}




.animated-title>div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  transform: translate(0, -100%);
}