
.container-body {
  height: 9000px;
}
.bg-container {
  position: relative;
  width: 100% !important;
  height: 600px;
  margin: auto;
  margin-top: 60%;
}

.bg-container h1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  font-size: 90px;
}